body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
.parentDiv {
  display: flex;
  flex-direction: column;
  /* background: blue; */
  width: 100%;
  height: 100%;
}
.navbar {
  background: rgba(0, 0, 0, 0.295);
  position: fixed;
  height: 70px;
  width: 100%;
  color: white;
}
.brand-name {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  margin-right: 1300px;
}
.home {
  background: rgb(248, 213, 15);
  height: 100vh;
  background-image: url("./images/pc5.jpg");
  background-size: 80%;
  width: 100%;
}
/* about us */

.aboutus {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-div1 {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 450px;
}
.about-div1 img {
  width: 100%;
  height: 450px;
  margin: 2px;
}
.about-div2 {
  width: 50%;
  height: 500px;
  padding: 10px 40px;
}
.about-div2 h3 {
  font-size: 24px;
}
.about-div2 p {
  font-size: 22px;
  opacity: 0.8;
}

/* product */
.products {
  /* display: flex; */
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  /* background: green; */
}
.card-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  width: 400px;
  height: 430px;
  box-shadow: 1px 3px 5px 5px rgba(0, 0, 0, 0.089);
  /* background: red; */
}
.card-image {
  padding: 10px;
  width: 380px;
  height: 200px;
}
.buy-button {
  width: 100px;
  height: 30px;
  background: rgba(0, 0, 255, 0.856);
  color: white;
  border: none;
  border-radius: 10px;
}

/* contact us */
.contactUs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-image: url("./images/pc4.jpg");
  background-size: 100%;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.contactUs h1 {
  color: white;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-button {
  width: 100px;
  height: 45px;
  background: rgba(0, 0, 255, 0.856);
  color: white;
  border: none;
  border-radius: 20px;
  margin: 10px;
  font-weight: 800;
}
.contactUs input {
  width: 500px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 1px 3px 5px 5px rgba(0, 0, 0, 0.089);
  border: none;
}

/* footer
 */

footer {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
}
footer h3 {
  opacity: 0.6;
}
